header{

}
nav{
    height: 50px;
    line-height: 50px;
    background: #F79444;
    width: 100%;
    margin: 0 auto;
    position: fixed;

}
main{
    width: 80%;
    max-width: 1000px;
    margin:50px auto;

}


nav ul{
    margin: 0 auto;
}



nav li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
    width:14%;
    text-align: center;
    font-size:1.2em;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li:hover{
    background: #DA6B09;
    transition: 0.3s;
}

li.logo {
    margin-right: 20%;
    
}

nav li.logo:hover{
    background: none;
    transition: 0.3s;
}


#top {
    position: fixed;
    bottom: 30px;
    right: 10px;
    list-style-type: none;
}

img.beertypes{
    width: 100%;
    max-width: 300px;
}



